docs/information-architecture/schemas/xsd/domain-model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Domain Model XML Schema for the Ontology Website Information Architecture.

  Defines the 13 domain entities from ADR-0002 / ADR-0005 and the logical
  information model (docs/ontology/information-model-logical.md).

  These types describe the DOMAIN MODEL (ontology metadata), not instance data.
  They define the structure for exchanging information about concepts,
  properties, enumerations, and related entities.

  Namespace: https://hm.com/ns/ia/
  Version:   1.0.0
  Date:      2026-03-13
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ia="https://hm.com/ns/ia/"
           targetNamespace="https://hm.com/ns/ia/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- ================================================================== -->
  <!-- Constrained Value Types (Enumerations)                             -->
  <!-- ================================================================== -->

  <xs:simpleType name="ContextType">
    <xs:annotation>
      <xs:documentation>
        Bounded context origin of an entity. SDS = Support Data System,
        PF = Product Framework, Common = shared enterprise tier.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="SDS"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="Common"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MatchType">
    <xs:annotation>
      <xs:documentation>
        Strength of a cross-domain semantic mapping between concepts
        in different bounded contexts.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="exact"/>
      <xs:enumeration value="close"/>
      <xs:enumeration value="broad"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BadgeType">
    <xs:annotation>
      <xs:documentation>
        Normalised editorial status of a concept. Derived from
        context-specific annotation properties at extraction time.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Deprecated"/>
      <xs:enumeration value="Uncertain"/>
      <xs:enumeration value="New"/>
      <xs:enumeration value="ToDefine"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FacetType">
    <xs:annotation>
      <xs:documentation>
        One of the seven classification dimensions from the ODR-0010
        multi-faceted classification framework.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="SubjectArea"/>
      <xs:enumeration value="DataClassification"/>
      <xs:enumeration value="Lifecycle"/>
      <xs:enumeration value="Governance"/>
      <xs:enumeration value="Volatility"/>
      <xs:enumeration value="RegulatoryRelevance"/>
      <xs:enumeration value="ValueChainPosition"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SeverityType">
    <xs:annotation>
      <xs:documentation>
        Validation severity level for a property constraint.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Violation"/>
      <xs:enumeration value="Warning"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RuleType">
    <xs:annotation>
      <xs:documentation>
        Type of SHACL Rule used to materialise derived property values.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="TripleRule"/>
      <xs:enumeration value="SPARQLRule"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!-- Helper Types                                                       -->
  <!-- ================================================================== -->

  <xs:simpleType name="UriList">
    <xs:annotation>
      <xs:documentation>
        Space-separated list of URI references. Used for multi-valued
        relationship fields where order is not significant.
      </xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:anyURI"/>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!-- Entity Types                                                       -->
  <!-- ================================================================== -->

  <!-- 1. Concept -->
  <xs:complexType name="ConceptType">
    <xs:annotation>
      <xs:documentation>
        A business entity or thing in the ontology. Represents a named class
        from one of the three bounded contexts (SDS, PF, Common). This is the
        central entity of the domain model; most other entities relate to it.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Human-readable display name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="context" type="ia:ContextType">
        <xs:annotation>
          <xs:documentation>Bounded context origin (SDS, PF, or Common).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uri" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>Full IRI uniquely identifying this concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="summary" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Short hint (1 sentence). Sourced from rdfs:comment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Formal meaning (canonical). Sourced from skos:definition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="usageNotes" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Usage guidance. Sourced from skos:scopeNote.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="editorialNotes" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maintenance notes. Sourced from skos:editorialNote.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="abstract" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Whether this concept is abstract (cannot be instantiated directly).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="labelProperty" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Property used as the display label for instances of this concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Relationships (URI references) -->
      <xs:element name="parent" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URI of the parent concept (0..1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="children" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of child concepts (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subjectArea" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>URI of the subject area this concept belongs to (1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="classifications" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of classification facet values (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="properties" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of properties attached to this concept (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enumeration" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URI of the enumeration associated with this concept (0..1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statuses" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Status badges for this concept (0..*).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="status" type="ia:StatusBadgeType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="mappings" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of cross-domain mappings involving this concept (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="roleOf" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URI of the concept this is a role of (0..1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="phaseOf" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URI of the concept this is a phase of (0..1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disjointWith" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of concepts this is disjoint with (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actions" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of action descriptions applicable to this concept (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rules" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of rules that materialise derived properties for this concept (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="examples" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of instance examples illustrating this concept (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 2. Property -->
  <xs:complexType name="PropertyType">
    <xs:annotation>
      <xs:documentation>
        An attribute or relationship of a concept. Describes what data a
        concept carries and how it relates to other concepts or literal values.
        Properties are derived from SHACL shapes, not OWL domain/range.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Human-readable display name from SHACL sh:name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="technicalName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Property IRI local name (e.g., hasMainFiscalCountry).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description from SHACL sh:description.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="domainInformative" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informative domain (typically used with). From rdfs:domain.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rangeInformative" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informative range (expected value type). From rdfs:range.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="constraints" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Constraint expressions (sh:pattern, sh:maxLength, etc.).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="severity" type="ia:SeverityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Validation severity (Violation or Warning).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validationMessage" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Human-readable validation message from sh:message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="required" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Whether the property is required (sh:minCount >= 1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="derived" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Whether the property is populated by a SHACL Rule.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="editorWidget" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>DASH editor widget identifier for form rendering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="viewerWidget" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>DASH viewer widget identifier for display rendering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Relationships -->
      <xs:element name="usedBy" type="ia:UriList">
        <xs:annotation>
          <xs:documentation>URIs of concepts that use this property (1..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="group" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URI of the property group this belongs to (0..1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="suggestions" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of suggestion generators for this property (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 3. Enumeration -->
  <xs:complexType name="EnumerationType">
    <xs:annotation>
      <xs:documentation>
        A fixed set of allowed values for a property. Represents a controlled
        vocabulary or code list modelled as a SKOS ConceptScheme.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of the enumeration scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of what this value set represents.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Relationships -->
      <xs:element name="values">
        <xs:annotation>
          <xs:documentation>The enumeration values in this scheme (1..*).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="ia:EnumerationValueType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 4. EnumerationValue -->
  <xs:complexType name="EnumerationValueType">
    <xs:annotation>
      <xs:documentation>
        A single allowed value within an enumeration scheme.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="label" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display label for this value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="abbreviation" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Short code or abbreviation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Formal definition of this value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 5. SubjectArea -->
  <xs:complexType name="SubjectAreaType">
    <xs:annotation>
      <xs:documentation>
        A topical classification grouping concepts by the part of the
        business they describe. Subject areas form a two-level hierarchy
        (7 top-level areas with 9 subdivisions).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of this subject area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of this subject area's scope.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Relationships -->
      <xs:element name="subdivisions" type="ia:UriList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URIs of narrower subject areas (0..*).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 6. ClassificationFacet -->
  <xs:complexType name="ClassificationFacetType">
    <xs:annotation>
      <xs:documentation>
        One of the seven classification dimensions from the ODR-0010
        multi-faceted classification framework. Each facet is a SKOS
        ConceptScheme whose values can be assigned to concepts.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of this facet (e.g., "Data Classification").</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="facetType" type="ia:FacetType">
        <xs:annotation>
          <xs:documentation>Which of the seven facet types this represents.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 7. CrossDomainMapping -->
  <xs:complexType name="CrossDomainMappingType">
    <xs:annotation>
      <xs:documentation>
        A semantic link between concepts in different bounded contexts,
        expressing that they represent the same or similar real-world things.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="matchType" type="ia:MatchType">
        <xs:annotation>
          <xs:documentation>Strength of the mapping (exact, close, or broad).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="note" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Explanatory note about this mapping.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Relationships -->
      <xs:element name="source" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>URI of the source concept (1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="target" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>URI of the target concept (1).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 8. StatusBadge -->
  <xs:complexType name="StatusBadgeType">
    <xs:annotation>
      <xs:documentation>
        A visual indicator of a concept's editorial status, normalised
        from context-specific annotation properties.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="badgeType" type="ia:BadgeType">
        <xs:annotation>
          <xs:documentation>The type of status badge.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 9. PropertyGroup -->
  <xs:complexType name="PropertyGroupType">
    <xs:annotation>
      <xs:documentation>
        A named grouping of related properties within a concept, used to
        organise form sections and UI layout.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of this property group.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="order" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Display order (lower numbers appear first).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 10. SuggestionGenerator -->
  <xs:complexType name="SuggestionGeneratorType">
    <xs:annotation>
      <xs:documentation>
        A data correction proposal that an application can offer to a user.
        Suggestions propose asserted data changes (e.g., complete a missing
        temporal pair, clean whitespace from a code field).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of this suggestion generator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="category" type="xs:string">
        <xs:annotation>
          <xs:documentation>Category (e.g., temporal, cleanup, status).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sparqlUpdate" type="xs:string">
        <xs:annotation>
          <xs:documentation>The SPARQL UPDATE query that implements this suggestion.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 11. ActionDescription -->
  <xs:complexType name="ActionDescriptionType">
    <xs:annotation>
      <xs:documentation>
        An operation that an application can expose to users. Actions describe
        bulk operations like validation, publishing, and unpublishing.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of this action.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionGroup" type="xs:string">
        <xs:annotation>
          <xs:documentation>Group this action belongs to (e.g., Data Quality, Governance).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 12. Rule -->
  <xs:complexType name="RuleType">
    <xs:annotation>
      <xs:documentation>
        A SHACL Rule that automatically materialises derived property values.
        Rules fire at data load time, not interactively.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display name of this rule.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ruleType" type="ia:RuleType">
        <xs:annotation>
          <xs:documentation>Type of rule (TripleRule or SPARQLRule).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="derivedProperty" type="xs:string">
        <xs:annotation>
          <xs:documentation>The property that this rule materialises.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- 13. InstanceExample -->
  <xs:complexType name="InstanceExampleType">
    <xs:annotation>
      <xs:documentation>
        A concrete data instance from a real source system, illustrating
        how concepts are populated with actual values.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="label" type="xs:string">
        <xs:annotation>
          <xs:documentation>Display label for this example instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceTable" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the source database table (e.g., dbo.Country).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================== -->
  <!-- Collection / List Wrappers                                         -->
  <!-- ================================================================== -->

  <xs:complexType name="ConceptListType">
    <xs:sequence>
      <xs:element name="concept" type="ia:ConceptType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PropertyListType">
    <xs:sequence>
      <xs:element name="property" type="ia:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EnumerationListType">
    <xs:sequence>
      <xs:element name="enumeration" type="ia:EnumerationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubjectAreaListType">
    <xs:sequence>
      <xs:element name="subjectArea" type="ia:SubjectAreaType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClassificationFacetListType">
    <xs:sequence>
      <xs:element name="classificationFacet" type="ia:ClassificationFacetType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CrossDomainMappingListType">
    <xs:sequence>
      <xs:element name="crossDomainMapping" type="ia:CrossDomainMappingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PropertyGroupListType">
    <xs:sequence>
      <xs:element name="propertyGroup" type="ia:PropertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SuggestionGeneratorListType">
    <xs:sequence>
      <xs:element name="suggestionGenerator" type="ia:SuggestionGeneratorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActionDescriptionListType">
    <xs:sequence>
      <xs:element name="actionDescription" type="ia:ActionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RuleListType">
    <xs:sequence>
      <xs:element name="rule" type="ia:RuleType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InstanceExampleListType">
    <xs:sequence>
      <xs:element name="instanceExample" type="ia:InstanceExampleType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================== -->
  <!-- Root Elements                                                      -->
  <!-- ================================================================== -->

  <!-- Single entity elements -->
  <xs:element name="concept" type="ia:ConceptType"/>
  <xs:element name="property" type="ia:PropertyType"/>
  <xs:element name="enumeration" type="ia:EnumerationType"/>
  <xs:element name="subjectArea" type="ia:SubjectAreaType"/>
  <xs:element name="classificationFacet" type="ia:ClassificationFacetType"/>
  <xs:element name="crossDomainMapping" type="ia:CrossDomainMappingType"/>
  <xs:element name="statusBadge" type="ia:StatusBadgeType"/>
  <xs:element name="propertyGroup" type="ia:PropertyGroupType"/>
  <xs:element name="suggestionGenerator" type="ia:SuggestionGeneratorType"/>
  <xs:element name="actionDescription" type="ia:ActionDescriptionType"/>
  <xs:element name="rule" type="ia:RuleType"/>
  <xs:element name="instanceExample" type="ia:InstanceExampleType"/>

  <!-- Collection elements -->
  <xs:element name="concepts" type="ia:ConceptListType"/>
  <xs:element name="properties" type="ia:PropertyListType"/>
  <xs:element name="enumerations" type="ia:EnumerationListType"/>
  <xs:element name="subjectAreas" type="ia:SubjectAreaListType"/>
  <xs:element name="classificationFacets" type="ia:ClassificationFacetListType"/>
  <xs:element name="crossDomainMappings" type="ia:CrossDomainMappingListType"/>
  <xs:element name="propertyGroups" type="ia:PropertyGroupListType"/>
  <xs:element name="suggestionGenerators" type="ia:SuggestionGeneratorListType"/>
  <xs:element name="actionDescriptions" type="ia:ActionDescriptionListType"/>
  <xs:element name="rules" type="ia:RuleListType"/>
  <xs:element name="instanceExamples" type="ia:InstanceExampleListType"/>

  <!-- Composite root element for full domain model exchange -->
  <xs:element name="domainModel">
    <xs:annotation>
      <xs:documentation>
        Root element for exchanging a complete or partial domain model.
        All child elements are optional, enabling partial payloads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="ia:concepts" minOccurs="0"/>
        <xs:element ref="ia:properties" minOccurs="0"/>
        <xs:element ref="ia:enumerations" minOccurs="0"/>
        <xs:element ref="ia:subjectAreas" minOccurs="0"/>
        <xs:element ref="ia:classificationFacets" minOccurs="0"/>
        <xs:element ref="ia:crossDomainMappings" minOccurs="0"/>
        <xs:element ref="ia:propertyGroups" minOccurs="0"/>
        <xs:element ref="ia:suggestionGenerators" minOccurs="0"/>
        <xs:element ref="ia:actionDescriptions" minOccurs="0"/>
        <xs:element ref="ia:rules" minOccurs="0"/>
        <xs:element ref="ia:instanceExamples" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
